<!-- update_test_case.html -->
{% extends 'base.html' %}
{% block title %}Update Test Case{% endblock %}

{% block content %}
<div class="container-center">
    <div class="project-form-container">
        <h3>Update Test Case: {{ object.title }}</h3>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    Please correct the errors below.
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                    </label>
                    {% if field.name == 'test_type' %}
                        <div class="d-flex flex-row">
                            {% for radio in field %}
                                <div class="form-check me-4" style="padding-left: 2.25rem !important">
                                    {{ radio.tag }} {{ radio.choice_label }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-submit">Update Test Case</button>
        </form>
    </div>
</div>
{% endblock %}
